nav, main {
  padding: 8px;
}

nav {
  display: flex;
  align-items: center;
  background: #DDD;

  & > a {
    margin: 0 8px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  & > span:first-of-type {
    margin-left: auto;
  }
}

#dark-toggle {
  border: 1px solid #111;
  background: #EEE;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
  border-radius: 14px;
  cursor: pointer;

  & > input[type=checkbox] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:checked + span {
      left: 23px;
    }
  }

  & > span {
    position: absolute;
    left: 1px;
    top: 1px;
    width: 24px;
    height: 24px;
    background: #DDD;
    border: 1px solid #111;
    border-radius: 50%;
    transition: left 0.1s linear;
  }
}

@import './darkmode.scss'
