nav, main {
  padding: 8px;
}

nav {
  display: flex;
  align-items: center;
  background: #DDD;

  & > a {
    margin: 0 8px;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  & > span {
    margin: 0 16px 0 auto;
  }
}

@import './darkmode.scss'
